* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.header-logo h1{
    color: white;
    margin-left: 50px;
}

.nav-bar{
    width: 100%;
}

.nav-link{
    color: white;
    font-size: 20px;
}

.card{
    width: 400px;
    margin: 50px;
}

.cardBtn{
    width: 100px;
}

.section-top{
    margin-top: 50px;
    
}

.section-top-post{
    margin-top: 10%;
}

@media only screen and (max-width: 575px) {

 

    .header-nav, .header-cart{
        display: none;
    }

    .section-top-img img{
        margin-top: 35%;
        width: 400px;
        height: auto;
    }


}

@media only screen and (min-width: 576px) {


    .mobile-menu{
        display: none;
    }

    .section-top-img img{
        max-width: 100%;
        margin-top: 25%;
        height: auto;
    }
   

}

@media only screen and (min-width: 1200px) {

    .section-top-img img{
        margin-top: 5%;
    }

}