* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.header-logo h1{
    color: white;
    margin-left: 50px;
}

.nav-bar{
    width: 100%;
}

.nav-link{
    color: white;
    font-size: 20px;
}

.card{
    max-width: 400px;
    box-shadow: 0px 0px 10px blue;
    
}

.cardBtn{
    width: 100px;
}

.section-top{
    margin-top: 50px;
    background: rgb(255,255,255);
    background: linear-gradient(170deg, rgba(255,255,255,1) 50%, rgba(13,110,253,1) 100%);
    
}

.section-top-post{
    margin-top: 10%;
}

.section-products{

    
  
    
    
}

@media only screen and (max-width: 575px) {

    .section-products{
        max-width: 100%;
    
    
    }

    .card{
      margin-top: 50px;  
    }

    .header-nav, .header-cart{
        display: none;
    }

    .section-top-img img{
        margin-top: 35%;
        width: 400px;
        height: auto;
    }


}

@media only screen and (min-width: 576px) {

    .card{
        margin: 40px auto auto auto;
         
      }

    .mobile-menu{
        display: none;
    }

    .section-top-img img{
        max-width: 100%;
        margin-top: 25%;
        height: auto;
    }
   

}

@media only screen and (min-width: 768px) {

    .card{
        margin: 10px auto auto 20px;
    }
}

@media only screen and (min-width: 1200px) {

    .card{
        margin: 25px auto 25px auto ;
    }

    .section-top-img img{
        margin-top: 1%;
    }

}